<div class="search-notif-div">
    <!--Search navigation-->
    <div class="search-container">
        <form method="GET" action="/search" class="search-bar" name="search-form" id="search-form">
        <input type="text" placeholder="Search" name="q" id="searchbar" required>
        <button type="Submit" id="search-btn"><img src="/images/search.png"></button>
        </form>
    </div>

    <div class="notification-container" style="display: none;">
        <form action="" class="notification-bar">
        <button type="Notification"><img src="/images/notification.svg"></button>
        </form>
    </div>
</div>