#nav {
    background-color: black;
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
#logo {
    width: 100%;
    padding: 10%;
}
.nav-btn-group {
    position: block;
    text-align: center;
    width: 100%;
    background-color: aqua;
}
.nav-btn {
    text-align: left;
    width: 80%;
    padding: 3%;
    margin: 3%;
}
#btns-logged-in{
    display: block; /*to make visible, set to "block". to make invisible, set to "none"*/
    background-color: blue;
}
#btns-logged-out {
    display: block; /*to make visible, set to "block". to make invisible, set to "none"*/
    background-color: brown;
}
#main {
    margin-left: 220px;
    
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 10px 9px;
gap: 10px;
isolation: isolate;

position: relative;

height: 1024px;

background: #141627;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* View Profile */
#profile {
white-space: nowrap; 
position: absolute;
width: 78px;
height: 31px;
left: 1182px;
top: 48.48px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}
#profilepicture {
position: absolute;
width: 64px;
height: 64px;
left: 1098px;
top: 43.48px;
border-radius: 50%;
}

#profiletype {
position: absolute;
width: 94px;
height: 22px;
left: 1182px;
top: 80.48px;

font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

color: #5F647E;
}

#post {
position: absolute;
width: 700px;
height: 394px;
left: 501px;
top: 206px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

#posttitle {


position: absolute;
width: 212px;
height: 82px;
left: 750px;
top: 102px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 82px;
/* identical to box height */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 12;
flex-grow: 0;
z-index: 12;


}
#poster {
position: absolute;
max-width: 120px;
max-height: 70px;
left: 500px;
top: 610px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
z-index: 3;

border-radius: 50%;
}

#postername {
position: absolute;
width: 64px;
height: 64px;
left: 580px;
top: 624px;


/* Inside auto layout */

white-space: nowrap; 
position: absolute;
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

#likes {
position: absolute;
width: 97px;
height: 31px;
left: 501px;
top: 695px;


/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
z-index: 4;
color: #FFFFFF;
}

#comments {
    white-space: nowrap; 
    position: absolute;
    width: 104px;
    height: 30.7px;
    left: 501px;
    top: 726px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 5;
    flex-grow: 0;
    z-index: 5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 8;
    color: #FFFFFF;
}
      

#respond textarea {
    position: absolute;
    width: 304px;
    height: 30px;
    left: 565px;
    top: 817px;
    
    font-family: 'Helvetica Neue';
    font-style: normal;
ent    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 8;
    flex-grow: 0;
    z-index: 8;
}

.commenter {
position: absolute;
width: 78px;
height: 31px;
left: 580px;
top: 786px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 7;
flex-grow: 0;
z-index: 7;
}
#commentheader{
white-space: nowrap; 
position: absolute;
width: 78px;
height: 31px;
left: 300px;
top: 100px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}
#addcomment {
    /* Comments */
    
position: absolute;
width: 68%;
height: 30%;
margin-top: 40px;
left: 420px;
top: 700px;
}

      
#commentbox {
    position: absolute;
    width: 55%;
    height: 30%;
    margin-top: 40px;
    left: 300px;
    top: 100px;  
}

/* Inside auto layout */

#commentsubmitbtn {
    position: absolute;
    left: 960px;
    top: 240px;
}

.commenterprofile {
position: absolute;
width: 304px;
height: 30px;
left: 565px;
top: 817px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 8;
flex-grow: 0;
z-index: 8;
}

#bookmark {
position: relative;
display: inline;

width: 80px;
left: 1100px;
top: 180px;


/* Inside auto layout */

flex: none;
order: 9;
flex-grow: 0;
z-index: 9;
}

#fullscreen {
position: relative;
display: inline;
width: 51px;
height: 51px;
left: 1050px;
top: 549px;
}

/*Bookmarked Posts*/

#title {
    /* Title */

white-space: nowrap; 
position: absolute;
width: 267px;
height: 41px;
left: 57px;
top: 52px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
/* identical to box height */

display: flex;
align-items: center;

color: #D7DBEE;
}

.posts {
position: absolute;
width: 1160px;
height: 875px;
left: 0px;
top: 139px;  
}

.row1 {
position: absolute;
width: 1040px;
height: 292px;
left: 60px;
top: 0px;
}

.row2 {
position: absolute;
width: 1040px;
height: 292px;
left: 60px;
top: 334px;
}

.row3{
position: absolute;
width: 1040px;
height: 292px;
left: 60px;
top: 668px;
}



.picture{
position: absolute;
width: 226px;
height: 180px;
top: 8px;

background: url(image.png);
border-radius: 24px;
}

.box{
position: absolute;
width: 242px;
height: 292px;
top: 0px;
background: #1C1F37;
border-radius: 24px;
}


.title{
position: absolute;
width: 29px;
height: 25px;
top: 204px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #D0D4E7;

}

.divider{
box-sizing: border-box;

position: absolute;
width: 242px;
height: 1px;
top: 245px;

border: 1px dashed #2D3049;
border-radius: 0px;
}

.profile{
position: absolute;
width: 33px;
height: 33px;
top: 252px;
border-radius: 50%;
}

.username{
position: absolute;
width: 106px;
height: 25px;
top: 257px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
display: flex;
align-items: center;

color: #FCFCFC;

}