@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
    --lime: #d1f366;
    --orange: #ec502c;
    --darkest: #141627;
    --dark: #1c1f37;
    --light: #c0c4e7;
    --grey: #626577;
    --lgrey: #5f647e;
    --link: #d8ec8f;
    --blue: #4044ed;
}

/* login + register */

.login {
    background-image: url(images/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login a {
    text-decoration: none;
    text-align: center;
}

.login img {
    width: 40%;
}

.login p {
    font-family: Abel;
    font-size: 18px;
    color: var(--light);
    margin-top: 30px;
    margin-bottom: 0;
}

.input-txt {
    font-family: Abel;
    font-size: 22px;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 30%;
    margin: 10px;
}

.btn-blue {
    font-family: Abel;
    font-size: 22px;
    font-weight: 600;
    color: white;
    background-color: var(--blue);
    border: none;
    margin-top: 20px;
}

#login-btn, #register-confirm{
    width: 30%;
}

#register-btn {
    width: 150px;
}

.footer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#go-back {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: Abel;
    font-size: 18px;
    color: var(--light);
}

#go-back:hover {
    color: var(--link);
}

#register-title {
    font-family: Abel;
    font-size: 64px;
    font-weight: 600;
    color: white;
    width: 30%;
    text-align: left;
}

/* NAV BAR */

#nav {
    background-color: var(--darkest);
    width: 220px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo {
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 25%;
    padding-right: 25%;
}

#green-circle {
    position: absolute;
    width: 137px;
    height: 135.66px;
    left: 230px;
    top: 93.18px;
    background: #90AB39;
    filter: blur(75px);
}

#orange-circle {
    position: absolute;
    width: 137px;
    height: 135.66px;
    left: 252px;
    top: 199.13px;
    background: #CB4628;
    filter: blur(75px);
}

.nav-btn-group {
    position: block;
    text-align: center;
    width: 100%;
}

.nav-btn-group button {
    background-color: transparent;
    font-family: Abel;
    color: var(--light);
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: left;
    width: 80%;
    padding: 3%;
    margin: 3%;
}

.nav-btn-group button:hover{
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--light);
    border-radius: 12px;
}

.nav-btn-group button.selected { /*for when the page is selected*/
    background-color: var(--lime);
    color: black;
    border: 1px solid black;
    font-weight: 600;
}

#btns-logged-in { /*for when users are logged into an account*/
    display: block; /*to make visible, set to "block". to make invisible, set to "none"*/
}

#btns-logged-out { /*for when users are not logged into an account*/
    display: block; /*to make visible, set to "block". to make invisible, set to "none"*/
}

/* BODY */

#main {
    background-color: var(--darkest);
    margin-left: 220px;
    height: auto;
    min-height: 100vh;
    width: auto;
}

/* bookmarks.html + index.html */

#bmk-title, #dash-title {
    color: var(--light);
    font-family: Abel;
    font-weight: 400;
    font-size: 32px;
}

#dash-subtl {
    color: var(--lgrey);
    font-family: Abril Fatface;
    font-size: 18px;
}

.welcome {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.post-group {
    display: flex;
    flex-flow: row wrap;
	justify-content: center;
    align-items: flex-start;
}

.post-group a {
    text-decoration: none;
}

.post-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark);
    border-radius: 24px;
    width: 242px;
    min-height: 292px;
    max-height: 292px;
    margin: 10px;
    padding: 10px;
}

.post-card img {
    width: 226px;
    min-height: 180px;
    max-height: 180px;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 10px;
}

.post-card hr {
    border: 1px dashed var(--grey);
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-title {
    color: white;
    width: 100%;
    font-family: Abel;
    font-size: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.post-card p.post-title:hover {
    color: var(--link);
}

.post-user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 5px;
}

.post-user img {
    width: 33px;
    min-height: 33px;
    max-height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user p {
    color: var(--light);
    font-family: Abel;
    font-size: 20px;
    font-weight: 400;
}

.post-user p:hover {
    color: var(--link);
}

/* viewpost.html + index.html(search) */

#post-title {
    color: var(--light);
    font-family: Abel;
    font-weight: 400;
    text-align: center;
    padding: 2%;
}

.post-area{
    text-align: center;
    width: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.post-area a {
    text-decoration: none;
}

.post-area img{
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.post-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
    margin-top: 10px;
}

.post-user-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.post-user-view img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-user-view p {
    font-family: Abel;
    font-size: 23px;
    font-weight: 400;
    color: var(--lime)
}

.post-user-view p:hover {
    color: var(--orange);
}

.post-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 20%;
}

.post-btns button {
    color: var(--light);
    width: 50px;
    height: 50px;
    border: 0px;
    background-color: transparent;
    font-size: 22px;
}

.post-btns button:hover {
    color: var(--orange);
}

.post-desc {
    text-align: justify;
    font-family: Abhaya Libre;
    font-size: 18px;
    color: white;
    margin: 10px;
}

.post-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Abril Fatface;
    color: var(--light);
    padding-top: 10px;
}

.add-comment {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search {
    width: 100%;
    padding: 3%;
}

#comment-box {
    background-color: var(--light);
    color: black;
    border: 1px solid var(--dark);
    border-radius: 10px;
    width: 85%;
    font-family: Abhaya Libre;
}

#search-box {
    background-color: var(--light);
    color: black;
    border: 1px solid var(--dark);
    border-radius: 10px;
    width: 40%;
    font-family: Abhaya Libre;
    margin-left: 2%;
}

#comment-btn, #search-btn {
    background-color: var(--dark);
    color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 10px;
    font-family: Abel;
    font-weight: 400;
}

.comment-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--dark);
    border-radius: 24px;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 5px;
    border-bottom: 1px dashed var(--grey);
}

.comment-content {
    font-family: Abhaya Libre;
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 0;
    margin: 0;
}

.commenter {
    display: flex;
    flex-direction: row;
}

.commenter img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.commenter p{
    font-family: Abel;
    font-size: 18px;
    font-weight: 400;
    color: var(--light);
}

.commenter p:hover {
    color: var(--link);
}