<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<div id="main">
  <h3 id="hello-title" style="margin: 3%;">About VisiTOUR</h3>
  <p class="desc">VisiTOUR is a web application that focuses on photo sharing, wherein users can freely upload and share photos of their travels. 
    Its name came from the words Visitor and Tour. It serves as a photo gallery for multiple users and can allow them to bond over 
    their past or recent travels. Since it is common for travelers to take photographs of the different places they went to, the website 
    can serve as a place to indulge in the different photos of users in the place they traveled.</p>
</div>
<%- include("modules/footer"); -%>