        <!-- JQuery CDN from Google -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- External JS -->
        <script src="scripts.js"></script>
    </body>
</html>