<%- include("modules/header"); -%>
<div class="login">
    <a href="/"><img src="images/logo.png" alt="VisiTOUR Logo"></a>
    <form method="POST" action="/" id="login-form">                    
        <input type="text" id="username" class="input-txt" required autocomplete="username" autofocus placeholder="Username"> 
        <input type="password" id="pwd" class="input-txt" minlength="8" required autocomplete="password" placeholder="Password"> 
        <input type="submit" id="login-btn" class="btn-blue" value="LOGIN">
    </form>
    <div class="footer">
        <p>Don't have an account?</p>
        <a href="/register">
            <button id="register-btn" class="btn-blue">REGISTER</button>
        </a>
    </div>
</div>
<%- include("modules/footer"); -%>
