<!-- Navigation Sidebar -->
<div id="nav">
    <img id="logo" src="images/logo.png" alt="VisiTOUR Logo">
    <svg id="green-circle"><ellipse/></svg>
    <svg id="orange-circle"><ellipse/></svg>
    <div class="nav-btn-group">
        <a href="index.html"><button id="nav-dashboard" class="selected"><i class="bi bi-house-heart-fill"></i>&nbsp;&nbsp;&nbsp;Dashboard</button></a>
        <!-- logged out -->
        <a href="login.html"><button id="nav-login"><i class="bi bi-box-arrow-in-right"></i>&nbsp;&nbsp;&nbsp;Login</button></a>
        <a href="register.html"><button id="nav-register"><i class="bi bi-person-plus-fill"></i>&nbsp;&nbsp;&nbsp;Register</button></a>
        <!-- logged in -->
        <a href="create-post.html"><button id="nav-create"><i class="bi bi-image"></i>&nbsp;&nbsp;&nbsp;Create Post</button></a>
        <a href="profile.html"><button id="nav-profile"><i class="bi bi-person-circle"></i>&nbsp;&nbsp;&nbsp;User Profile</button></a>
        <a href="bookmarks.html"><button id="nav-bookmarks"><i class="bi bi-bookmark-heart-fill"></i>&nbsp;&nbsp;&nbsp;User Bookmarks</button></a>
        <a href="editprofile.html"><button id="nav-edit"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;&nbsp;Edit Profile</button></a>
        <a href="index.html"><button id="nav-logout"><i class="bi bi-box-arrow-right"></i>&nbsp;&nbsp;&nbsp;Logout</button></a>
    </div>
</div>