<%- include("modules/header"); -%>
<div class="login">
    <a id="go-back" href="/login"><i class="bi bi-arrow-left"></i>&nbsp;Back to Login</a>
    <p id="register-title">Register</p>
    <form method="POST" action="/login" id="register-form" name="register-form">
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="username" required minlength="4" maxlength="20" autofocus class="input-txt">
        <input type="password" id="pwd" name="pwd" placeholder="Password" required minlength="8" autocomplete="password" class="input-txt">
        <input type="password" id="pwdConfirm" name="pwdConfirm" placeholder="Confirm Password" required minlength="8" class="input-txt">
        <p id="message"></p>
        <input type="email" id="email" name="email" placeholder="Email" required class="input-txt">
        <input type="submit" value="Register" class="btn-blue" id="register-confirm">
    </form>
</div>
<%- include("modules/footer"); -%>